* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 23px;
}
#perimeter,
#area {
  margin-left: 10px;
}
#perimeter {
  margin-bottom: 20px;
}
.result {
  margin: 10px 0px;
}
.result p {
  font-size: 16px;
  font-weight: 500;
}
#square-container {
  margin-top: 20px;
  width: 60px;
  height: 77px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.square {
  width: 58px;
  height: 58px;
  background-color: #f0b9c2;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
}
::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

#grid-container {
  width: 240px;
  margin-top: 10px;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
}
.bottom-section {
  display: flex;
  align-items: center;
  gap: 12pxpx;
}
button {
  margin: 10px 20px;
  padding: 10px 15px;
  background-color: #1191e0;
  border: 2px solid #1191e0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
}
button:active {
  background-color: #fff;
  color: #1191e0;
}
.dropped {
  background-color: #1191e0;
}

#toast {
  font-weight: 600;
  display: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 26px;
  }
  .result {
    margin: 10px 0px;
    font-size: 18px;
  }
  .bottom-section {
    gap: 20px;
  }
  #grid-container {
    margin: 10px;
  }
}
